.box{
    height: 350px;
    width: 250px;
    background-color: antiquewhite;
    position: absolute;
    color: black;
    transform: translate(-50% -50%);
    left: 50%;
    right: 50%;
    padding: 10px;
    border-radius: 10px;
}
.box input{
    width: 100%;
    margin: 10px;
}
.box input[type="submit"]{
    background-color: rgb(29, 245, 29);
}
.box input[type="submit"]:hover{
    cursor: pointer;
    background-color: cadetblue;
}
.error{
    color: red;
}